*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    display: flex;
    flex-wrap: wrap;
    font-size: 30vh;
    color: rgb(172, 250, 224);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #A61F69;
    border: 5vh solid #A61F69;
    margin-top: 0vh;
    margin-bottom: 1vh;
}
.container{
    display: flex;
    flex-direction: row;
    background-color: rgb(247, 129, 86);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    justify-content: space-around;
    align-items: flex-start;
    font-size: 4vh;
}
.container2, .container6{
    display: flex; 
    flex-wrap: wrap;
    background-color: rgb(172, 250, 224);
}
.container3 , .logo{
    display: flex; 
    justify-content: center;
    background-color: rgb(247, 129, 86);
}
.container4 , .container5{
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    background-color: rgb(172, 250, 224);
    padding: 5vh 5vh;
    
}
#logo{
    height: 60vh;
    width: 60vh;
}
section{
    align-self: flex-end;
    padding: 10vh 10vh;
}
h2 , h3, dt, caption{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(97, 7, 182);    
}
td, th{
    font-size: 2vh;
    font-family: sans-serif;
    text-align: justify;
    border: 4px solid rgb(78, 55, 106);
}

dt{
    font-size: 3vh;
    font-family: sans-serif;
    text-align: justify;
}
 caption{
    font-size: 5vh;
    margin: 2vh;
}
h2{
    font-size: 7vh;
}
h3{
    font-size: 3vh;
    margin: 5vh;
}
p , li, dd{
    font-family: sans-serif;
    font-size: 2vh;
    margin: 1vh
}
table{
    margin: 5vh;
    width: 60vw;
    height: 30vh;
    border-collapse: collapse; 
    border: 4px solid rgb(78, 55, 106);
    border-radius: 6px;
}
.table{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(172, 250, 224);
}

tfoot, thead{
    background-color: rgb(218, 177, 255);
}
tbody{
    color: rgb(78, 55, 106);
}
.img{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    margin: 1vh;
}
footer{
    background-color: rgb(172, 250, 224);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    border: 2vh solid rgb(172, 250, 224);
}